[Unit]
Description=R TCP/IP server
Documentation=https://rforge.net/Rserve/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
ExecStartPre=-/usr/bin/mkdir /run/rserve
ExecStartPre=/usr/bin/chown -R rserve:rserve /run/rserve
PIDFile=/run/rserve/rserve.pid
ExecStart=/usr/lib64/R/bin/R CMD /usr/lib64/R/library/Rserve/libs/Rserve --RS-conf /etc/Rserv.conf --no-save
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
